/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global typography */
body {
    font-family: var(--font-family);
    background-color: var(--light-bg);
    color: var(--primary-text);
    position: relative; /* Ensures elements inside can be positioned correctly */
    z-index: 0; /* Keeps it at the lowest layer */
}

/* Global colors */
:root {
    /* Background colors */
    --color-bg-light: #FFFFFF; /* Light background color */
    --color-bg-primary: #F0DACD; /* Primary background color */
    --color-bg-secondary: #F7F2EC; /* Secondary background color */
    --color-bg-accent: #E1EDE9; /* Accent background color */

    /* Text colors */
    --color-text-primary: #29180F; /* Main text color */
    --color-text-secondary: rgba(0, 0, 0, 1); /* Solid black */
    --color-text-tertiary: rgba(0, 0, 0, 0.9); /* Slightly transparent black */
    --color-text-quaternary: rgba(0, 0, 0, 0.82); /* Softer black */

    /* Button Colors */
    --color-button-primary: #BF8B70; /* Brown, used for most buttons */
    --color-button-buy: #89D3D1; /* Teal green, used for purchase buttons */
    --color-button-text: #FFFFFF; /* White text for buttons */

    /* Borders */
    --color-border-highlight: #C9B079; /* Used for highlighted borders */

    /* Font Family */
    --font-family: "Roboto Serif", Georgia, "Times New Roman", serif;

    /* Small Text (Details, footers, captions) */
    --font-size-caption: 12px;  /* Tiny labels, icons, minor details */
    --font-size-small: 13px;  /* Small secondary text */
    --font-size-description: 14px;  /* Descriptions, footer text */
    --font-size-secondary: 15px;  /* Small text inside cards and secondary sections */

    /* Standard Text (Main content) */
    --font-size-body: 16px;  /* Default paragraph text */
    --font-size-button: 18px;  /* Buttons, navbar links */

    /* Emphasized Text (More relevant information) */
    --font-size-highlight: 20px;  /* Product names, prices */
    --font-size-subtitle: 22px;  /* Section subtitles, secondary highlights */
    --font-size-featured: 24px;  /* Hero section, product categories */

    /* Headings */
    --font-size-heading-sm: 36px;  /* Small headings, footer titles */
    --font-size-heading-md: 40px;  /* Medium headings, large card titles */
    --font-size-heading-lg: 48px;  /* Large headings, section titles */

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-extrabold: 800;

}