/* Hero Section */
#hero {
    width: 100%;  
    min-height: 60vh; 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero-banner {
    width: 100vw; 
    height: auto;
    max-width: 1440px;
    max-height: 628px;
    object-fit: cover;
    position: relative;
}

#offer-text {
    display: none; /* Oculta o texto inicialmente */
    position: absolute;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    background-color: var(--color-button-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
    padding: 8px;
    border: 2px solid #BAA370;
    border-top: none;
    border-radius: 0 0 38px 38px;
    text-align: center;
    width: 70vw;
    top: 0;
    left: 39%; /* Mantém centralizado */
    transform: translateX(-40%); /* Ajuste fino para centralização */
    min-height: 40px;
    cursor: pointer;
}

/* Quando o texto estiver visível */
#offer-text.show {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
}

#offer-text:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
    border-color: var(--color-border-highlight);
    transition: all 0.3s ease-in-out;
}


#offer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
    background-color: var(--color-bg-light);
    padding: 8px;
    cursor: pointer;
    border-radius: 0 0 38px 38px;
    border: 2px solid #BAA370;
    border-top: none;
    min-height: 40px;
    position: absolute;
    top: 0;
    left: 39%;
    transform: translateX(-40%);
    flex-direction: column;
    width: 60vw; 
    text-align: center;
}

/* Esconder o botão quando o texto estiver visível */
#offer-button.hidden {
    display: none;
}

#offer-button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--color-button-primary);
    border-top: none;
}

/* Tablet: 768px até 1123px */
@media (min-width: 768px) and (max-width: 1123px) {
    #hero {
        min-height: 75vh;
    }

    #offer-button, #offer-text {
        min-height: 50px;
        border-radius: 0 0 50px 50px;
    }

}

/* Desktop: 1124px ou mais */
@media (min-width: 1124px) {
    #hero {
        min-height: 85vh;
        height: 100vh; 
    }

    #offer-text,
    #offer-button {
        display: block;
        cursor: pointer;
    }
    
}

