#spring-collection, 
#most-wanted-plush {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
}

/* Spring Collection Header */
.floating-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    z-index: 10;

    height: 50px;
    margin: -20px 0 20px 0;
}

/* Icon */
.spring-icon, 
.teddy-icon {
    height: 39px;
    width: auto;
}

/* Spring Spring Title */
.floating-header h2 {
    font-size: var(--font-size-highlight);
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0%;
    color: var(--color-text-primary);
    line-height: 120%;
    background-color: var(--color-bg-light);
    border: 3px solid #C9B079;
    border-radius: 62px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 7px 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
}

/* Spring Products Container */
.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 15px;
    padding: 20px;
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    justify-content: center;
}

/* Card for each product */
.product-card {
    background: var(--color-bg-light);
    border-radius: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3px;
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.02);
}

/* Container for the products */
.product-img {
    background-color: var(--color-bg-secondary);
    border-radius: 28px 28px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 170px; 
    max-height: 180px; 

    padding: 20px 0 10px 0;
    margin-bottom: 5px;
}

/* Image for each product */
.product-img img {
    max-width: 130px;
    height: auto;
    border-radius: 28px 28px 0 0;
    margin: 0;
    display: block;
}

/* Product Information */
.product-info {
    text-align: center;
    padding: 5px 10px;
}

/* Product Name */
.product-info h4 {
    font-size: var(--font-size-description);
    color: var(--color-text-primary);
    margin-bottom: 5px;
}

/* Rating */
.product-rating img {
    width: 70px; 
    height: auto;
    display: block;
    margin: 0 auto; 
    padding: 1px 0 6px 0;
}

/* Price */
.product-price {
    font-size: var(--font-size-description);
    font-weight: bold;
    color: var(--color-text-primary);
    margin-bottom: 7px;
}

/* Button */
.cta-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Explore Button */
#explore-button {
    width: 180px;
    height: 38px;
    background-color: var(--color-button-primary);
    color: #FFFFFF;
    font-size: var(--font-size-description);
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 180%;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 29px;
    padding: 8px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2.5px 0px #7C7A77;
    transition: all 0.3s ease-in-out;
    margin-bottom: 40px;
}

/* Hover effect */
#explore-button:hover {
    background-color: var(--color-button-buy);
    transform: scale(1.02);
}

/* Click effect */
#explore-button:active {
    transform: scale(0.95);
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1169px) {
    .floating-header h2 {
        font-size: var(--font-size-featured);
        gap: 8px;
        padding: 8px 35px;

    }

    .spring-icon, 
    .teddy-icon {
        height: 45px;
        width: auto;
    }

    .products-grid { 
        gap: 20px;
        padding: 40px;
        width: 100%;
        max-width: 600px;
    }

    .product-card {
        min-height: 300px;
    }

    

    /* Container for the products */
    .product-img {
        min-height: 230px; 
    }

    .product-img img {
        max-width: 200px;
    }

    /* Product Name */
    .product-info h4 {
        font-size: var(--font-size-body);
        margin-bottom: 8px;
    }

    /* Rating */
    .product-rating img {
        width: 85px; 
    }

    /* Price */
    .product-price {
        font-size: var(--font-size-body);
        margin-bottom: 9px;
    }
  

    #explore-button {
        width: 200px;
        height: 42px;
        font-size: var(--font-size-secondary);
    }
}

/* Media query for desktops */
@media (min-width: 1170px) {
    .floating-header h2 {
        font-size: var(--font-size-heading-sm);
        gap: 8px;
        height: 67px;
        padding: 10px 45px;
    }

    .spring-icon, 
    .teddy-icon {
        height: 55px;
        width: auto;
    }

    .products-grid { 
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        gap: 30px;
        padding: 40px 70px;
        width: 100%;
        max-width: 1440px;
    }

    .product-card {
        max-height: 382px;
        max-width: 308px;
    }

    /* Container for the products */
    .product-img {
        min-height: 250px; 
    }

    .product-img img {
        max-width: 220px;
    }

    /* Product Name */
    .product-info h4 {
        font-size: var(--font-size-highlight);
        margin-bottom: 9px;
    }

    /* Rating */
    .product-rating img {
        width: 98px; 
        margin-bottom: 3px;
    }

    /* Price */
    .product-price {
        font-size: var(--font-size-highlight);
        margin-bottom: 9px;
    }

    #explore-button {
        width: 237px;
        height: 48px;
        font-size: var(--font-size-button);
    }
}