#testimonials {
    background-color: var(--color-bg-accent);
    display: flex;
    flex-direction: column;    
    padding-bottom: 50px;
    position: relative;
}

.heart-icon {
    width: 30px;
    height: auto;
}

.testimonial-slider {
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.testimonial-container {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 300%;
    padding: 0;
    margin: 0;
}

.testimonial-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
}

.testimonial-card {
    background-color: var(--color-bg-light);
    border: 3px solid var(--color-border-highlight);
    border-radius: 31px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: center;
    width: 90%; 
    max-width: 370px;
    margin: 0 auto 10px;
    margin: 0 20px;
}

.testimonial-content {
    max-width: 90%;
    font-size: var(--font-size-secondary);
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding: 10px 15px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.author-initial {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid var(--color-border-highlight);
    border-radius: 50%;
    height: 48px;
    width: 48px;
    min-height: 48px;
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    color: var(--color-text-primary);
}

.author-profession-kinship {
    font-size: 12px;
    line-height: 150%;
}

#testimonial-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
    position: relative;
}

.testimonial-dot {
    width: 10px;
    height: 10px;
    background-color: var(--color-bg-light);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Active Dot */
.testimonial-dot.active {
    background-color: #3A2215;
    transform: scale(1.1);
}

/* Tablet screens */
@media (min-width: 768px) and (max-width: 1169px) {
    .heart-icon {
        width: 35px;
    }

    .testimonial-slider {
        max-width: 1100px;
        padding: 0 10px;
        margin: 20px auto;
    }

    .testimonial-container {
        width: 200%;
    }

    .testimonial-slide {
        align-items: stretch;
        flex: 0 0 50%;
        width: 50%; 
        min-width: 700px; 
        max-width: 1100px;
    }

    .testimonial-card {
        padding: 10px 10px;
        margin: 10px 25px;
        
    }
    
    #testimonial-dots {
        margin: 20px 0 25px;
    }
}

/* Desktop screens */
@media (min-width: 1170px) {
    .heart-icon {
        width: 43px;
    }

    .testimonial-slider {
        max-width: 1440px; 
        padding: 0 20px;
    }

    .testimonial-container {
        width: 200%; 
        justify-content: center; 
    }

    .testimonial-slide {
        justify-content: space-between;
        align-items: stretch;
        min-width: 1000px; 
        max-width: 1440px;
        width: 100%; 
        flex: 0 0 50%;
        gap: 10px; 
        padding: 0 24px; 
        margin: 50px auto 20px auto;
    }


    .testimonial-card {
        max-width: 415px;
        min-height: 228px;
        padding: 12px 5px 2px 30px;
    }

    .testimonial-content {
        font-size: var(--font-size-button);
        line-height: 150%;
        padding: 0;
        margin-top: 10px;
    }

    .author-initial {
        font-size: 30px;
        height: 56px;
        width: 56px;
        min-height: 56px;
        min-width: 56px;
        margin-bottom: 15px;
    }

    .author-info {
        height: 45px;
    }

    .author-name {
        font-size: var(--font-size-body);
        
    }
    .author-profession-kinship {
        font-size: var(--font-size-description);
    }

    .manual-navigation {
        margin-top: 35px;
        margin-bottom: 53px;
    }
}